* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.top {
    background-color: black;
    height: 10%;
    width: 100%;
}

.space {
    margin-top: 1%;
    margin-bottom: 1%;
    animation: large 2s ease;
}

@keyframes large {
    0% {
        margin-left: 100%;
        margin-right: 100%;
    }

    100% {
        margin-left: 0%;
        margin-bottom: 0%;
    }

}

.h {
    text-decoration: none;
    color: #fff;
    font-weight: 700;

}

.c {
    display: inline;
    color: white;
    text-align: center;
    font-family: cinzel;
}

p {
    text-align: center;
    align-items: center;
    color: #fff;
    margin-top: 2%;
}

.column {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10em;
}

.col2 {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}
.col-8 {
    animation: expand 2s ease;
}

@keyframes expand {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.section {
    background-color: black;
}

.footer {
    height: 100px;
    background: #303036;

}

.footer-content {
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    margin-top: 10%;
    text-decoration: none;
    color: #686868;
}
